.image_content5 {
    display: flex;
    justify-content: center;
    margin-top: 4rem;
    margin-bottom: 6rem;
    padding: 0 100px;
    border-radius: 25px;
    @media(max-width: 575px){
        padding: 0 20px;
        margin-bottom: 4rem;
    }
  }
  .image_content5 video {
    max-width: 100%;
    width: 100%;
    object-fit: cover;
    height: 90vh;
    border-radius: 25px;
    @media(max-width: 768px){
        height: auto;
    }
  }