footer {
  padding: 50px 40px;
  @media (max-width: 575px) {
    padding: 50px 20px;
  }
  nav {
    padding-top: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    // gap: 100px;
    @media (max-width: 1600px) {
      gap: 60px;
    }
    @media (max-width: 1399px) {
      gap: 40px;
      flex-wrap: wrap;
    }
    @media (max-width: 991px) {
      gap: 20px;
      flex-wrap: wrap;
    }
    @media (max-width: 767px) {
      gap: 20px;
      justify-content: space-between;
    }
    .ImageFooterLogo{
      margin-left: 120px;
      @media(max-width: 768px){
        margin-left: 0rem;
      }
    }

    ul {
      text-decoration: none;
      list-style: none;
      list-style-type: none;
      @media (max-width: 991px) {
        width: 300px;
      }
      @media (max-width: 767px) {
        width: 48%;
      }
      @media (max-width: 575px) {
        width: 100%;
      }
      li {
        text-decoration: none;
        list-style: none;
        list-style-type: none;
        padding: 0 0 22px;
        @media (max-width: 767px) {
          padding: 0 0 18px;
        }
        @media (max-width: 575px) {
          padding: 0 0 12px;
        }
        a {
          color: white;
          text-decoration: none;
        }
      }
    }
  }
  .ImageBorder {
    // text-align: center;
    // margin: 0 auto;
    // border-top: 1px solid
    //   linear-gradient(
    //     64deg,
    //     rgba(40, 30, 135, 1) 0%,
    //     rgba(233, 33, 210, 1) 50%,
    //     rgba(253, 30, 113, 1) 59%,
    //     rgba(252, 176, 69, 1) 100%
    //   ) !important;
  }
  .copyright {
    text-align: center;
    font-size: 18px;
    margin: 40px 0 0;
    @media (max-width: 575px) {
      margin: 20px 0 0;
    }
  }
}
